$theme-colors: (
  "primary": #c9c9d6,
  "secondary": #550000,
  "dark": #3e3e4a,
  "light": #f0f0f0,
);

@import "../../node_modules/bootstrap/scss/bootstrap";

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  background-color: #FAFAFA;
  margin-bottom: 160px;
}

h1 {
  font-weight: 700;
}

.navbar-brand {
  font-weight: 700;
  color: white;
}

.nav-link {
  font-weight: 700;
  margin-left: 8px;
  margin-right: 8px;
}

.btn-nav {
  color: white;
  font-weight: 700;
}

.navbar-toggler {
    border: none;
}

li a {
    color: white !important;
}

.container-fluid {
    padding: 0;
}

.lead {
  margin-top: 12px;
  margin-bottom: 12px;
}

.score {
  margin-bottom: 12px;
}

h6 {
  margin-top: 8px;
  margin-bottom: 8px;
  font-weight: 500;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 160px;
  color: white;
}

.footer-brand {
  font-weight: 700;
  font-size: 18px;
  color: white;
}

.footer-licence {
  font-weight: 500;
}

.icon {
  color: lightgray;
}

.icon:hover {
  color: dimgray;
}

/* Grow effect */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

