argh==0.26.2
asgiref==3.2.10
coverage==5.2.1
Django==3.1
django-debug-toolbar==2.2
docutils==0.16
flake8==3.8.3
isort==5.4.2
libsass==0.20.1
mccabe==0.6.1
pathtools==0.1.2
pycodestyle==2.6.0
pyfakefs==4.1.0
pyflakes==2.2.0
pytz==2020.1
PyYAML==5.3.1
six==1.15.0
sqlparse==0.3.1
watchdog==0.10.3
