<footer class="footer bg-dark">
  <div class="container mt-3">
    <div class="row">
      <div class="col text-center">
        <p class="footer-license">&copy; 2020 MyMusicHere</p>
        <p class="footer-license">
           <a class="license-link" rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
             <img alt="Creative Commons License" src="https://creativecommons.org/images/deed/cc_icon_white_x2.png" width="24"/>
             <img alt="Creative Commons License" src="https://creativecommons.org/images/deed/attribution_icon_white_x2.png" width="24"/>
             <img alt="Creative Commons License" src="https://creativecommons.org/images/deed/sa_white_x2.png" width="24"/>
           </a>
        </p>
      </div>
    </div>
  </div>
</footer>
