{% extends 'base.html' %}

{% load humanize %}

{% block header %}
  <header class="header"><a href="#">MyMusicHere</a></header>
{% endblock header %}
{% block content %}
    <section class="title">
      <div class="title-outer-circle">
        <div class="title-inner-circle">
          <div class="title-content">
            <p class="title-name">Dmitry Kalyukov</p>
            <p class="title-caption">Compositions & Arrangements</p>
            <p class="title-social">
              <a href="https://instagram.com/dmitry.kalyukov" target="_blank">
                <img class="title-social-icon" src="https://simpleicons.org/icons/instagram.svg" alt="Instagram"/>
              </a>
              <a href="https://github.com/dmitrvk" target="_blank">
                <img class="title-social-icon" src="https://simpleicons.org/icons/github.svg" alt="GitHub"/>
              </a>
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="info">
      <h1 class="info-hi">Hi there!</h1>
      <p>
        My name is Dmitry Kalyukov.<br>
        Here you will find sheet music to compositions and arrangements I create.<br>
        You can hear the music on my
        <a href="https://instagram.com/dmitry.kalyukov" target="_blank">Instagram</a>.
        For technical details, see
        <a href="https://github.com/dmitrvk/mymusichere" target="_blank">GitHub</a>.
      </p>
      <p>
        To contact me, please use the following address:
        <span class="info-email">dmitry (at) mymusichere.me</span>
      </p>
    </section>
    <section class="scores">
      {% for score in score_list %}
      <div class="score-container">
        <a href="{% url 'scores:score' score.slug %}">
          <div class="score">
            <img src="/static/scores/{{ score.thumbnail_path }}" alt="{{ score.title|default:"Untitled" }}"/>
            <div class="score-caption">
              <h2>{{ score.title|default:"Untitled" }}</h2>
              <p>{{ score.composer }}</p>
              <p>
                <time datetime="{{ score.timestamp|date:"c" }}">
                  {{ score.timestamp|naturalday:"M j, Y"|default:"date unknown"}}
                </time>
              </p>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </section>
{% endblock content %}
