<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>MyMusicHere</title>

  {% load static %}

  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
  <link rel="manifest" href="{% static 'img/site.webmanifest' %}">

  <script src="https://kit.fontawesome.com/6552e45fcd.js" crossorigin="anonymous"></script>

  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&display=swap" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="{% static 'scores/style.css' %}">


<style>
.score-title {
    color: #3e3e3e;
    font-weight: 500;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
}
.score-composer {
    color: #3e3e3e;
    font-weight: 300;
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 0;
}
.score-arranger {
    color: #3e3e3e;
    font-weight: 300;
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 0;
}
.score-instrument {
    color: #3e3e3e;
    font-weight: 300;
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 0;
}
.score-last-modified {
    color: #3e3e3e;
    font-weight: 300;
    font-size: 11px;
    margin-top: 0;
    margin-bottom: 0;
}
.score-views {
    color: #3e3e3e;
    font-weight: 300;
    font-size: 11px;
    margin-top: 0;
    margin-bottom: 0;
}
</style>
</head>
<body class="bg-light">
  <header>
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="#">MyMusicHere</a>
    </nav>
  </header>

  <section class="jumbotron">
    <div class="container">
      <h1 class="jumbotron-heading text-light">Sheet music collection</h1>
    </div>
  </section>

  <main role="main" class="container text-center">

    {% if score_list %}
    <div class="container">
      <div class="row">
      {% for score in score_list %}
        <div class="col-6 col-sm-4 col-lg-3 hvr-grow score">
          <a href="{% url 'scores:score' score.slug %}" class="stretched-link">
            <img class="img-fluid" src="{% static 'scores/'|add:score.slug|add:'/thumbnail.png' %}" alt="{{ score.title }}" width="180">
          </a>
          <div class="img-fluid mx-auto" style="position: relative; margin-top: -97px; width: 180px; height:
                                97px; background-color: white;">
              <div class="container-fluid px-2" style="height: 67px;
                  line-height: 16px;">
                  <div class="row mt-1">
                      <div class="col-12 text-left">
                          <p class="score-title">{{ score.title }}</p>
                      </div>
                    </div>
                      {% if score.composer %}
                  <div class="row">
                      <div class="col-12 text-left">
                          <p class="score-composer">{{ score.composer }}</p>
                      </div>
                    </div>
                      {% endif %}
                      {% if score.arranger %}
                  <div class="row">
                      <div class="col-12 text-left">
                          <p class="score-arranger">{{ score.arranger }}</p>
                      </div>
                    </div>
                      {% endif %}
                      {% if score.instrument %}
                  <div class="row">
                      <div class="col-12 text-left">
                          <p class="score-instrument">{{ score.instrument }}</p>
                      </div>
                    </div>
                      {% endif %}
            </div>
            <div class="container-fluid px-2" style="height: 30px">
                  <div class="row">
                      <div class="col-6 text-left">
                          <p class="score-last-modified">{{ score.last_modified|date:"m/d/Y" }}</p>
                      </div>
                      <div class="col-6 text-center">
                          <p class="score-views">{{ score.views }} views</p>
                      </div>
                    </div>
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
    {% else %}
    <p>No scores are available.</p>
    {% endif %}

    <hr>

    <div class="container text-left">
      <div class="row">
        <div class="col">
          <h3>How to upload sheet music</h3>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>All scores here are typeset with the
          <a class="text-secondary" href="https://lilypond.org" target="_blank">LilyPond</a>
          system.
          The source code is located in the GitHub repository. If you are
          familiar with LilyPond and GitHub, you can create a pull request with
          your score. For now this is the only way to publish sheet music
          here.</p>
          <p>
            <a href="https://github.com/dmitrvk/mymusichere" class="btn btn-dark my-2" target="_blank">
              <i class="fab fa-github mr-1"></i>
              Visit GitHub
            </a>
          </p>
        </div>
      </div>
    </div>
  </main>

  {% include 'scores/footer.html' %}
</body>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</html>
