{% extends 'scores/base.html' %}

{% load static humanize %}

{% block content %}
  <section class="jumbotron">
    <div class="container">
      <h1 class="jumbotron-heading">Sheet music collection</h1>
    </div>
  </section>

  <main class="container">
    {% if score_list %}
    <div class="container">
      <div class="row">
        {% for score in score_list %}
        <figure class="score col-6 col-sm-4 col-lg-3">
          <a href="{% url 'scores:score' score.slug %}" class="stretched-link">
            <img class="img-fluid" src="{% static score.get_thumbnail_path %}" alt="{{ score.title|default:"Untitled" }}" style="width:180px"/>
          </a>
          <figcaption class="score-caption img-fluid">
            <div class="score-caption-top container-fluid px-2">
              <div class="row pt-2 mb-1">
                <div class="score-title col-12">
                    <p>{{ score.title|default:"Untitled" }}</p>
                </div>
              </div>
              {% if score.composer %}
              <div class="row">
                <div class="score-composer col-12">
                  <p>{{ score.composer }}</p>
                </div>
              </div>
              {% endif %}
              {% if score.arranger %}
              <div class="row">
                <div class="score-arranger col-12">
                  <p>{{ score.arranger }}</p>
                </div>
              </div>
              {% endif %}
            </div>
            <div class="score-caption-bottom container-fluid">
              <div class="row">
                <div class="score-instrument col-12">
                  <p>{{ score.instrument|default:"instrument unknown" }}</p>
                </div>
              </div>
              <div class="row no-gutters">
                <div class="score-last-modified col">
                  <p>
                    <time datetime="{{ score.last_modified|date:"c" }}">
                      {{ score.last_modified|naturalday:"M j, Y"|default:"date unknown"}}
                    </time>
                  </p>
                </div>
                <div class="score-views col">
                  <p>{{ score.views|default:0 }} view{{ score.views|default:0|pluralize }}</p>
                </div>
              </div>
            </div>
          </figcaption>
        </figure>
        {% endfor %}
      </div>
    </div>
    {% else %}
    <p>No scores are available.</p>
    {% endif %}

    <hr>

    <section class="container text-left">
      <header class="row">
        <div class="col">
          <h3>How to upload sheet music</h3>
        </div>
      </header>
      <div class="row">
        <div class="col">
          <p>All scores here are typeset with the
          <a class="text-secondary" href="https://lilypond.org" target="_blank">LilyPond</a>
          system.
          The source code is located in the GitHub repository. If you are
          familiar with LilyPond and GitHub, you can create a pull request with
          your score. For now this is the only way to publish sheet music
          here.</p>
          <p>
            <a href="https://github.com/dmitrvk/mymusichere" class="btn btn-dark my-2" target="_blank">
              <i class="fab fa-github mr-1"></i>
              Visit GitHub
            </a>
          </p>
        </div>
      </div>
    </section>
  </main>
{% endblock content %}
