{% extends 'base.html' %}

{% block title %}{{ score.title|default:"Untitled" }} | MyMusichere{% endblock %}

{% block header %}
    <header class="header-score">
      <a href="../">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32"><path fill-rule="evenodd" d="M10.78 19.03a.75.75 0 01-1.06 0l-6.25-6.25a.75.75 0 010-1.06l6.25-6.25a.75.75 0 111.06 1.06L5.81 11.5h14.44a.75.75 0 010 1.5H5.81l4.97 4.97a.75.75 0 010 1.06z"></path></svg>
      </a>
      <a href="../">MyMusicHere</a>
      <input id="toggle" type="checkbox"/>
      <label for="toggle" id="toggle-button">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="28" height="28"><path fill-rule="evenodd" d="M1 2.75A.75.75 0 011.75 2h12.5a.75.75 0 110 1.5H1.75A.75.75 0 011 2.75zm0 5A.75.75 0 011.75 7h12.5a.75.75 0 110 1.5H1.75A.75.75 0 011 7.75zM1.75 12a.75.75 0 100 1.5h12.5a.75.75 0 100-1.5H1.75z"></path></svg>
      </label>
      <nav id="menu-wrapper">
        <ul id="menu">
          <li>
            <a href="https://www.instagram.com/dmitry.kalyukov" target="_blank">listen</a>
          </li>
          <li>
            <a href="/static/scores/{{ score.pdf_path }}" target="_blank">download</a>
          </li>
          <li style="visibility: hidden;">
            <a href="#">share</a>
          </li>
          <li>
            <a href="{{ score.github_link }}" target="_blank">view source</a>
          </li>
        </ul>
      </nav>
    </header>
{% endblock header %}
{% block content %}
    <section class="score-section">
      {% for page in score.pages_paths %}
      <img src="/static/scores/{{ page }}" alt="Score page {{ forloop.counter }}"/>
      {% if not forloop.last %}
      <hr>
      {% endif %}
      {% endfor %}
    </section>
{% endblock content %}
