{% extends 'base.html' %}

{% block title %}{{ score.title|default:"Untitled" }}{% endblock %}

{% block description %}Sheet music typeset with LilyPond - {{ score.title }}{% endblock %}

{% block head_extra %}
  <script>
    function share() {
      copyLinkToClipboard()
      showLinkCopiedToClipboardMessage()
    }

    function copyLinkToClipboard() {
      var input = document.createElement('input')
      document.body.appendChild(input);
      input.value = 'https://www.mymusichere.me/{{ score.slug }}';
      input.select();
      document.execCommand('copy');
      document.body.removeChild(input);
    }

    function showLinkCopiedToClipboardMessage() {
      let message = document.createElement('div')
      message.setAttribute('class', 'alert alert-primary fade show m-0')
      message.setAttribute('role', 'alert')
      message.textContent = 'Link copied to clipboard'

      let alertDiv = document.getElementById('alert')

      if (!alertDiv.hasChildNodes()) {
        alertDiv.appendChild(message)

        setTimeout(function closeAlert() {
          $('.alert').alert('close')
        }, 3000)
      }
    }
  </script>
{% endblock head_extra %}

{% block navbar %}
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a href="../" class="btn btn-link icon">
      <svg class="bi bi-arrow-left-short" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M7.854 4.646a.5.5 0 010 .708L5.207 8l2.647 2.646a.5.5 0 01-.708.708l-3-3a.5.5 0 010-.708l3-3a.5.5 0 01.708 0z" clip-rule="evenodd"/>
        <path fill-rule="evenodd" d="M4.5 8a.5.5 0 01.5-.5h6.5a.5.5 0 010 1H5a.5.5 0 01-.5-.5z" clip-rule="evenodd"/>
      </svg>
    </a>

    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="btn btn-dark btn-nav" href="/static/scores/{{ score.pdf_path }}" download>download</a>
        </li>
        <li class="nav-item">
          <button class="btn btn-dark btn-nav" onclick="share()">share</button>
        </li>
        <li class="nav-item">
          <a class="btn btn-dark btn-nav" href="{{ score.github_link }}">view source</a>
        </li>
      </ul>
    </div>
  </nav>
{% endblock navbar %}

{% block content %}
  <main class="container-fluid">
    <div id="alert"></div>

    <noscript>
      <p class="text-secondary my-2">Unfortunately, your browser does not support JavaScript.
      Some features may not work properly.</p>
    </noscript>

    {% for page in score.pages_paths %}
    <img src="/static/scores/{{ page }}" class="img-fluid" alt="Score page {{ forloop.counter }}"/>
    {% if not forloop.last %}
    <hr>
    {% endif %}
    {% empty %}
    <p>Sorry, sheet music for this piece is not available.</p>
    {% endfor %}
  </main>
{% endblock content %}
