mymusichere.me {
    redir https://www.mymusichere.me{uri}
}

www.mymusichere.me {
    rewrite /favicon.ico /static/img/favicon.ico

    handle /static/* {
        root * /srv
        file_server
    }

    reverse_proxy http://web:8000
}
